# exclude visual studio (code) files
.vs/
.vscode/

# exclude compiled and linked binaries
bin/
obj/
Debug/
Release/

# exclude installation files
Files/

# exclude publishing files which change all the time and we dont need them in git
/**/FolderProfile.pubxml.user